# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pywz
*.py~
_*.py
*#
*.bak
*.swp
*.swo
*.swn
*.bak
*.bkp
*.mdb
*.pyc
*.bak
*.tmp
*.old
*.bak
*.log
*.log.*
*.swp
*.bak
*.~
*.swp
*.swo
*.swn
*.bak
*.bkp
*.tmp
*.old
*.bak
*.~*
*.tmp*
*.old*
*.bak*
*.bak.*
*.bak-*
*.bak_*
*.cpy
*.bk
*.cvsignore
*.orig
*.rej
*.bup
*.new
*.htm~
*.html~
*.shtml~
*.stm~
*.cgi~
*.php~
*.php3~
*.phtml~
*.inc~
*.sql~
*.txt~
*.pl~
*.perl~
*.pm~
*.conf~
*.cfm~
*.cfml~
*.frm~
*.bas~
*.cls~
*.vbs~
*.vb~
*.resx~
*.asp~
*.aspx~
*.ascx~
*.master~
*.ascx~
*.xsd~
*.xsx~
*.xss~
*.xslt~
*.vss~
*.vssscc~
*.js~
*.vbs~
*.wsf~
*.wsh~
*.vbe~
*.css~
*.xaml~
*.xoml~
*.vst~
*.vstemplate~
*.csproj~
*.vbproj~
*.java~
*.jav~
*.class~
*.ejs~
*.jsp~
*.jspx~
*.jspx~
*.jws~
*.jwe~
*.cfm~
*.cfc~
*.cfml~
*.tld~
*.cfm~
*.cpt~
*.cpt~
*.cfml~
*.cfml~
*.cfm~
*.cfml~
*.dbml~
*.dbml~
*.refresh~
*.refresh~
*.asax~
*.ascx~
*.master~
*.sitemap~
*.skin~
*.css~
*.style~
*.xsl~
*.xml~
*.xslt~
*.dtd~
*.svg~
*.svg~
*.txt~
*.xml~
*.xsd~
*.xsl~
*.xslt~
*.kml~
*.kml~
*.uri~
*.publishproj~
*.publishproj~
*.pubxml~
*.pubxml~
*.pubxml.user~
*.pubxml~
*.vbproj~
*.csproj~
*.xproj~
*.ilproj~
*.booproj~
*.build*
*.jpr~
*.jpx~
*.user~
*.shared~
*.design~
*.ldf~
*.mdf~
*.ldf~
*.adp~
*.ldb~
*.mdw~
*.mde~
*.mam~
*.maq~
*.mda~
*.mdn~
*.mdt~
*.mdw~
*.mdz~
*.ldb~
*.mdf~
*.ldb~
*.accdb~
*.accdr~
*.accdt~
*.accde~
*.ldb~
*.laccdb~
*.cdb~
*.wiz~
*.sst~
*.cnf~
*.conf~
*.log~
*.nav~
*.suo~
*.gid~
*.nsf~
*.ntf~
*.nfs~
*.nch~
*.ns4~
*.na4~
*.nfo~
*.net~
*.nix~
*.nxi~
*.nai~
*.nxi~
*.na2~
*.nap~
*.nvc~
*.nvs~
*.nb7~
*.nbs~
*.nbm~
*.nbp~
*.npe~
*.npc~
*.npl~
*.ncd~
*.nb~
*.ncf~
*.nrf~
*.nxl~
*.nfo~
*.nod~
*.ns3~
*.ns2~
*.ns1~
*.ns0~
*.nfl~
*.nd~
*.nfi~
*.nsf~
*.nsd~
*.ns~
*.nim~
*.mno~
*.mnx~
*.mxl~
*.mxe~
*.mx2~
*.mx1~
*.mtz~
*.mtp~
*.mtn~
*.mtk~
*.mtj~
*.mt~
*.msl~
*.msi~
*.msd~
*.msp~
*.mso~
*.msm~
*.msl~
*.msl~
*.msi~
*.msi~
*.msd~
*.msp~
*.msm~
*.msg~
*.msc~
*.ms~
*.mst~
*.msh~
*.ms~
*.ms~
*.msg~
*.msg~
*.msg~
*.msi~